.header {
  background-color: #79beff;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  height: 6rem;
}

.title-header {
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 16px;
  font-size: 28px;
  font-weight: bold;
}

.icon {
  color: #fff;
}
